<div class="form-page">
  <div class="form-card">
    <div class="form-card-header">
      <h1>Sign In</h1>
      <p class="text-muted">Welcome back to WatchList.</p>
    </div>
    <div class="form-card-body">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" } %>
        <%= f.input :password, required: false, input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, "Sign In", class: "btn btn-primary btn-submit" %>
      <% end %>
    </div>
    <div class="form-card-footer">
      <%= link_to "Don't have an account? Sign up", new_user_registration_path %>
      <% if devise_mapping.recoverable? %>
        <br><%= link_to "Forgot your password?", new_password_path(resource_name) %>
      <% end %>
    </div>
  </div>
</div>
